.matches-card-body{
  max-width: 345px;
}
@media screen and (min-width: 427px) {
  .matches-card-body{
    min-width: 345px;
  }
}
.card-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background: rgba(0, 0, 0, 0.75);
}

Card:hover .card-wrapper {
  opacity: 1;
  align-items: center;
}

